// _variables.scss
// =================

//FONTS
//======== 

/*
    font-family: 'Space Mono', monospace;
    font-style: normal;

    Font Weights:
    - Regular
    - Regular Italic
    - Bold
    - Bold Italic
*/

//Google Font import
@import "https://fonts.googleapis.com/css?family=Space+Mono";

$bodyFont : 'Space Mono', monospace;


//Colors
$darkblack     : #333333;
$midgrey       : #444444;
$charcoal      : #65646A;

$grey          : #999999;
$smoke         : #F9F9F9;
$white         : #ffffff;

$orange        : #cf8234;
$papaya        : #dd6f53;
$avocado       : #96ad6f;
$blueberry     : #6f83ad;


/* Var Ends */
