@import "https://fonts.googleapis.com/css?family=Space+Mono";

/*
    font-family: 'Space Mono', monospace;
    font-style: normal;

    Font Weights:
    - Regular
    - Regular Italic
    - Bold
    - Bold Italic
*/

*, *:before, *:after {
  box-sizing: border-box; }

body {
  font-family: "Space Mono", monospace;
  color: #434343;
  padding: 20px; }

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

h1 {
  margin: .1em 0px 0px;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}

p {
    font-style: normal;
    line-height: 1.4em;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.outdatedbrowser {
  margin: 0 auto;
  background: #ccc;
  color: #6f83ad;
  padding: 1em;
  text-align: center;
}
  .outdatedbrowser a {
    color: #dd6f53;
  }

#wrapper {
  height: 90vh;
  max-width: 680px;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

/*==== WEATHER ====*/
.weather {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 60px;
}

.weather-icon {
  padding: 20px;
}

.weather p {
  font-size: 16px;
  font-weight: bold;
}

.weather span {
  font-size: 56px;
  font-weight: bold;
}

.weather small {
  font-size: 24px;
  font-weight: bold;
}

.town-name {
  font-size: 26px;
}

/*==== FOOTER ====*/
footer {
  justify-self: baseline;
}

footer a {
  /* margin-top: 20px; */
  font-size: 16px;
  color: #434343;
  font-weight: 600;
  display: block;
  text-align: center;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
